@model StudentDetails.Models.LoginTable

@{
    ViewData["Title"] = "LoginTable";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-white">Login</h1>
<hr/>
<body class="bg-secondary">
    <div class="row">
    <div class="col-md-4">
        <form asp-action="LoginTable">
            <div class="text-danger">@ViewData["Error"]</div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="text-white">
                <div class="form-group">
                    <label asp-for="EmailId" class="control-label"></label>
                    <input asp-for="EmailId" class="form-control" />
                    <span asp-validation-for="EmailId" class="text-danger"></span>
                </div>
            </div>


            <div class="text-white">
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>
</body>


<div>
    <a asp-action="Index">Back to List</a>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
